@import "compass/css3";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.test1{
  color:red;
}
.test2{
  color:green;
}
.test3{
  color:#eee;
}